
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


body {

  /* ============================================================= */
  /*
  /* Main Styles
  /*
  /* ============================================================= */
  /* 
  /* This only styles the elements shown on the page.
  /* 
  /* Some CSS knowledge is going to be needed to style these
  /* elements further. If you're just looking for a swatch and
  /* font swap, then you'll only need to edit the variables below.
  /*
  /* ============================================================= */
  /* Primary Color
  ================================================================ */
  --cd-primary-color:                    #bed5e5;
  --cd-primary-text-color:               #fff;

  /* ============================================================= */
  /* Secondary Color
  ================================================================ */
  --cd-secondary-color:                  #939799;
  --cd-secondary-text-color:             #fff;

  /* ============================================================= */
  /* Backgrounds
  ================================================================ */
  --cd-body-background-color:            #f8f8f8;
  --cd-content-background-color:         #ffffff;
  --cd-faded-background-color:           #f8f8f8;

  /* Background Extras */
  --cd-body-background-image:             url();

  /* ============================================================= */
  /* Text
  ================================================================ */
  --cd-body-text-color:                  #303030;
  --cd-faded-text-color:                 #575757;

  /* ============================================================= */
  /* Borders
  ================================================================ */
  --cd-border-color:                     rgba(0, 0, 0, 0.125);
  --cd-border-width:                     1px;
  --cd-border-style:                     solid;
  --cd-border-radius:                    1rem;

  /* ============================================================= */
  /* Navbar
  ================================================================ */
  --cd-navbar-background-color:          #1e1e1b;
  --cd-navbar-brand-color:               var(--cd-primary-color);
  --cd-navbar-brand-color-hover:         var(--cd-secondary-color);
  --cd-navbar-text-color:                var(--cd-content-background-color);
  --cd-navbar-link-color:                var(--cd-navbar-text-color);
  --cd-navbar-link-color-hover:          var(--cd-primary-color);
  --cd-navbar-font-family:               var(--cd-header-font-family);
  
  /* ============================================================= */
  /* Main Fonts
  ================================================================ */
  --cd-body-font-family:                 'Montserrat', sans-serif;
  --cd-header-font-family:               'inconsolata', sans-serif;


  /* ============================================================= */
  /*
  /* Optional Styles
  /* These are just for extra easy styling
  /*
  /* ============================================================= */
  /* Navbar Dropdown 
  ================================================================ */

  /* Background */
  --cd-navbar-dropdown-background-color: var(--cd-navbar-background-color);
  --cd-navbar-dropdown-background-hover: var(--cd-primary-color);

  /* Link/Text */
  --cd-navbar-dropdown-link-color:       var(--cd-navbar-link-color);
  --cd-navbar-dropdown-link-color-hover: var(--cd-primary-text-color);

  /* Divider */
  --cd-navbar-dropdown-divider:          rgba(255,255,255,.12);
  --cd-navbar-dropdown-border-radius:    0 0 var(--cd-border-radius) var(--cd-border-radius);


  /* ============================================================= */
  /* Footer
  ================================================================ */
  
  /* Background */
  --cd-footer-background-color:          var(--cd-navbar-background-color);

  /* Link/Text */
  --cd-footer-text-color:                var(--cd-navbar-text-color);
  --cd-footer-link-color:                var(--cd-navbar-link-color);
  --cd-footer-link-color-hover:          var(--cd-navbar-link-color-hover);


  /* ============================================================= */
  /* Link
  ================================================================ */

  --cd-link-text-color:                  #4c8ebd;
  --cd-link-text-color-hover:            var(--cd-secondary-color);


  /* ============================================================= */
  /* HR
  ================================================================ */

  --cd-hr-border-width:                  var(--cd-border-width);
  --cd-hr-border-color:                  var(--cd-border-color);
  --cd-hr-border-style:                  var(--cd-border-style);


  /* ============================================================= */
  /* Pagination
  ================================================================ */

  /* Background */
  --cd-pagination-background-color:      transparent;
  --cd-pagination-background-hover:      transparent;

  /* Text */
  --cd-pagination-text-color:            var(--cd-faded-text-color);
  --cd-pagination-text-color-hover:      var(--cd-primary-color);

  /* Border */
  --cd-pagination-border-radius:         var(--cd-border-radius);
  --cd-pagination-border-width:          0;
  --cd-pagination-border-style:          var(--cd-border-style);
  --cd-pagination-border-color:          var(--cd-border-color);
  --cd-pagination-border-color-hover:    var(--cd-primary-color);


  /* ============================================================= */
  /* Cards
  ================================================================ */
  
  /* Background */
  --cd-card-background-color:            var(--cd-content-background-color);
  --cd-card-header-background-color:     var(--cd-card-background-color);

  /* Text */
  --cd-card-header-font-family:          var(--cd-header-font-family);

  /* Border */
  --cd-card-border-width:                var(--cd-border-width);
  --cd-card-border-style:                var(--cd-border-style);
  --cd-card-border-color:                var(--cd-border-color);
  --cd-card-border-radius:               var(--cd-border-radius);


  /* ============================================================= */
  /* Button
  ================================================================ */
  
  /* Background */
  --cd-button-background-color:          var(--cd-primary-color);
  --cd-button-background-color-hover:    var(--cd-secondary-color);

  /* Text */
  --cd-button-text-color:                var(--cd-primary-text-color);
  --cd-button-text-color-hover:          var(--cd-secondary-text-color);

  /* Border */
  --cd-button-border-width:              var(--cd-border-width);
  --cd-button-border-style:              var(--cd-border-style);
  --cd-button-border-color:              var(--cd-button-background-color);
  --cd-button-border-color-hover:        var(--cd-button-background-color-hover);
  --cd-button-border-radius:             var(--cd-border-radius);


  /* ============================================================= */
  /* Input
  ================================================================ */

  /* Background */
  --cd-input-background-color:           var(--cd-faded-background-color);

  /* Text */
  --cd-input-text-color:                 var(--cd-faded-text-color);

  /* Border */
  --cd-input-border-width:               var(--cd-border-width);
  --cd-input-border-style:               var(--cd-border-style);
  --cd-input-border-color:               var(--cd-border-color);
  --cd-input-border-color-hover:         var(--cd-primary-color);
  --cd-input-border-radius:              var(--cd-border-radius);

}


/* ============================================================= */
/* General Page Styles
/* ============================================================= */

body {

  /* Global Text */
  color: var(--cd-body-text-color);
  font-family: var(--cd-body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  /* Global Background */
  background-color: var(--cd-body-background-color);
  background-image: var(--cd-body-background-image);
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
  background-image:url(https://i.postimg.cc/Hx1H6qzY/You-Only-Live-Twice-Set-Design.jpg)

}


/* ============================================================= */
/* Plain Links
/* ============================================================= */

a,
a:visited {
  color: var(--cd-link-text-color);
  transition: color .2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: var(--cd-link-text-color-hover);
  text-decoration: none;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ============================================================= */
/* Navbar
/* ============================================================= */
.navbar {
  background-color: var(--cd-navbar-background-color) !important;
  font-family: var(--cd-navbar-font-family) !important;
  z-index: 2000;
}

.navbar .navbar-brand {
  color: var(--cd-navbar-brand-color) !important;
  font-size: 2rem;
}

.navbar .navbar-brand:hover, 
.navbar .navbar-brand:focus {
  color: var(--cd-navbar-brand-color-hover) !important;
}

.navbar .navbar-nav .nav-link {
  color: var(--cd-navbar-link-color) !important;
}

.navbar .navbar-nav .nav-link:hover, 
.navbar .navbar-nav .nav-link:focus{
  color: var(--cd-navbar-link-color-hover) !important;

}

.navbar .navbar-toggler {
  color: var(--cd-navbar-link-color) !important;
  border: none !important;
}

.navbar .nav-link {
    display: flex;
    align-items: center;

}

.navbar .nav-link-icon {
    font-size: .5rem;
    margin-left: .25rem;
}


/* ============================================================= */
/* Dropdowns
/* This is for navbar dropdowns only
/* ============================================================= */

.navbar .dropdown-menu {
  color: var(--cd-navbar-dropdown-link-color) !important;
  background-color: var(--cd-navbar-dropdown-background-color) !important;
  border-radius: var(--cd-navbar-dropdown-border-radius) !important;
  border: none;
  margin-top: 0;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover{
  display: block !important
}

.navbar .dropdown-divider {
  border-top: 1px solid var(--cd-navbar-dropdown-divider) !important;
}

.navbar .dropdown-item,
.navbar .dropdown-item-text {
  color: var(--cd-navbar-dropdown-link-color) !important;
  transition: color .2s ease, background .2s ease;
}

.navbar .dropdown-item:hover, 
.dropdown-item:focus,
.dropdown-item:active {
  color: var(--cd-navbar-dropdown-link-color-hover)!important;
  background-color: var(--cd-navbar-dropdown-background-hover) !important;
}

.navbar .dropdown-header {
  color: var(--cd-navbar-dropdown-link-color-hover) !important;
}


/* ============================================================= */
/* Footer
/* ============================================================= */

.footer{
  background-color: var(--cd-footer-background-color) !important;
  color: var(--cd-footer-text-color) !important;
}

.footer a,
.footer a:visited {
  color: var(--cd-footer-link-color) !important;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: var(--cd-footer-link-color-hover) !important;
}


/* ============================================================= */
/* Pagination
/* ============================================================= */

.page-link {
  transition: color .2s ease, background .2s ease, border .2s ease;
  border-width: var(--cd-pagination-border-width) !important;
  border-style: var(--cd-pagination-border-style) !important;
}

.page-link,
.page-item.disabled .page-link {
  color: var(--cd-pagination-text-color) !important;
  background-color: var(--cd-pagination-background-color) !important;
  border-color: var(--cd-pagination-border-color) !important;
}

.page-item.active .page-link,
.page-link:hover,
.page-link:focus,
.page-link:active {
  color: var(--cd-pagination-text-color-hover) !important;
  background-color: var(--cd-pagination-background-hover) !important;
  border-color: var(--cd-pagination-border-color-hover) !important;
}

/* Keeps users from accidentally highlighting */
.page-link{
  cursor: pointer;
  user-select: none;
}

/* Fixes my jank nav/pagination hybrid */
.nav .pagination .page-item:first-child .page-link {
  border-radius: 0 !important;
  border-left: 0 !important;
}

.nav .pagination .page-item:last-child .page-link {
  border-radius: 0 !important
}

.nav .page-item:first-child .page-link {
  border-radius: var(--cd-pagination-border-radius) 0 0 var(--cd-pagination-border-radius) !important;
}

.nav .page-item:last-child .page-link {
  border-radius: 0 var(--cd-pagination-border-radius) var(--cd-pagination-border-radius) 0 !important
}


/* ============================================================= */
/* Card
/* ============================================================= */

.card {
  background-color: var(--cd-card-background-color) !important;
  border-width: var(--cd-card-border-width) !important;
  border-style: var(--cd-card-border-style) !important;
  border-color: var(--cd-card-border-color) !important;
  border-radius: var(--cd-border-radius) !important;
}

.card-header {
  background-color: var(--cd-card-header-background-color) !important;
  border-bottom-color: var(--cd-card-border-color) !important;
  border-bottom-width: var(--cd-card-border-width) !important;
  border-bottom-style: var(--cd-card-border-style) !important;
  font-family: var(--cd-card-header-font-family) !important;
  border-radius: calc(var(--cd-border-radius) - 1px) calc(var(--cd-border-radius) - 1px) 0 0 !important;
}


/* ============================================================= */
/* Buttons & Badges
/* ============================================================= */

.btn.btn-primary,
.badge.badge-primary {
  color: var(--cd-button-text-color) !important;
  background-color: var(--cd-button-background-color) !important;
  border-width: var(--cd-button-border-width) !important;
  border-style: var(--cd-button-border-style) !important;
  border-color: var(--cd-button-border-color) !important;
  border-radius: 0px;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
a.badge.badge-primary:hover,
a.badge.badge-primary:focus,
a.badge.badge-primary:active  {
  color: var(--cd-button-text-color-hover) !important;
  border-color: var(--cd-button-border-color-hover) !important;
  background-color: var(--cd-button-background-color-hover) !important;
  box-shadow: none !important;
}


/* ============================================================= */
/* Input
/* ============================================================= */

.form-control {
  background-color: var(--cd-input-background-color) !important;
  color: var(--cd-input-text-color) !important;
  border-width: var(--cd-input-border-width) !important;
  border-style: var(--cd-input-border-style) !important;
  border-color: var(--cd-input-border-color) !important;
  border-radius: var(--cd-input-border-radius) !important;
}

.form-control:focus,
.form-control:active {
  background-color: var(--cd-input-background-color) !important;
  border-color: var(--cd-input-border-color-hover) !important;
}


/* ============================================================= */
/* Scrollbar
/* ============================================================= */

@media (min-width: 992px) {
  body::-webkit-scrollbar-track {
    background-color: var(--cd-faded-background-color);
    border-width: 0px !important;
  }

  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--cd-primary-color);
  }

  body::-webkit-scrollbar-corner,
  body::-webkit-resizer {
    background-color: var(--cd-border-color);
  }
}


/* ============================================================= */
/* Misc
/* ============================================================= */

.stickyheaders {
  position:sticky;
  top:0
}


.stickyfooter {
  position:sticky;
  bottom:0
}


.text-primary {
  color: var(--cd-primary-color) !important;
}

.bg-faded {
  background-color: var(--cd-faded-background-color) !important;
}

.text-muted {
  color: var(--cd-faded-text-color) !important;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--cd-navbar-font-family) !important;
  background-color:#8cb0b3;
  padding:10px;
  color:#fff;
  border-radius:10px;
  border-bottom-left-radius:0px;border-bottom-right-radius:0px
}



hr {
  border-top-color: var(--cd-hr-border-color) !important;
  border-top-width: var(--cd-hr-border-width) !important;
  border-top-style: var(--cd-hr-border-style) !important;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

/* Fix any border radiuses that were messed from before */
.rounded {border-radius: var(--cd-border-radius) !important}
.rounded-circle {border-radius: 100%;}
.rounded-0 {border-radius: 0 !important;}

/* ============================================================= */
/* JINIPPY'S TWEAKING HELP ME SAVE ME
/* ============================================================= */
.annoying-ahh-logo {
  transition:transform 1.5s ease;
}
.annoying-ahh-logo:hover {
  transform:rotate(360deg) scale(1.1);
}

.navbar-brand img {
  width: 250px; /* Adjust to your desired initial size */
  height: auto;
  transition: width 0.2s ease, height 0.85s ease, top 0.2s ease, transform 1.5s ease; 
  top:-50px/* Smooth transition when size changes */
}

/* When the logo reaches the top */
.navbar-brand.shrink img {
  width: 150px; 
  top:0px/* Shrunk size */
}

#header {
  position:sticky;
  top:0;
  z-index:2
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
      background-color: var(--cd-faded-background-color);
    border-width: 0px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--cd-primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--cd-primary-color);
}

.navbar .dropdown-item,
.navbar .dropdown-item-text {
  color: var(--cd-navbar-dropdown-link-color) !important;
  transition: color .2s ease, background .2s ease, transform 0.2s ease;
}

.navbar .dropdown-item:hover, 
.dropdown-item:focus,
.dropdown-item:active {
  color: var(--cd-navbar-dropdown-link-color-hover)!important;
  background-color: var(--cd-navbar-dropdown-background-hover) !important;
  font-family:inconsolata
}


.navbar .turn-left:hover,  .turn-left:hover {
  transform:scale(1.1) rotate(-1deg);
  animation-name:freakyhoverelements;
  animation-duration:4s;
  animation-iteration-count:1;
  color:#484848!important;
  font-family:inconsolata;
  box-shadow:0px 0px 10px #000000,7px 2px 0px #000 ;
  font-weight:900;
  clip-path: polygon(0 43%, 4% 3%, 46% 13%, 76% 0, 97% 3%, 100% 23%, 98% 94%, 86% 95%, 74% 98%, 41% 100%, 29% 92%, 2% 100%);
  
}

.navbar .turn-right:hover,  .turn-right:hover {
  transform:scale(1.1) rotate(1deg);
  animation-name:freakyhoverelements;
  animation-duration:4s;
  animation-iteration-count:1;
  color:#484848!important;
 box-shadow:0px 0px 10px #000000,7px 2px 0px #000;
 font-weight:900;
 clip-path: polygon(0 43%, 4% 3%, 46% 13%, 76% 0, 97% 3%, 100% 23%, 98% 94%, 86% 95%, 74% 98%, 41% 100%, 29% 92%, 2% 100%);

}

.freakyahhbuttonright:hover {
  transform:scale(1.1) rotate(1deg);
  animation-name:freakyhoverbuttons;
  animation-duration:4s;
  animation-iteration-count:1;
}

.freakyahhbuttonleft:hover {
  transform:scale(1.1) rotate(-1deg);
  animation-name:freakyhoverbuttons;
  animation-duration:4s;
  animation-iteration-count:1;
}




.shrinkycoolcardonhover {
  background-color: rgb(255, 255, 255, 0);
  transition: all 0.1s ease-in-out;
  z-index: 50;
}

/* Only scale the hovered shrinkycoolcardonhover */
.shrinkycoolcardonhover:hover {
  transform: scale(1);
}

/* Shrink .container-2 only when any .card is hovered */
.annoyingahhwrapper:hover .annoyingshrinkysquares {
    transform: scale(0.95) translateY(50px) rotate(-1deg);
    transform-origin: center;
  
    
}

/* Prevent shrinking when hovering over container-2 */
.annoyingshrinkysquares:hover {
    transform: scale(1) !important;
}


.annoyingshrinkysquares {
  background-color: rgba(240, 128, 128, 0);
  transition: all 0.3s ease-in-out;
  position:absolute;
  top:0;
  z-index: -1;
  transition:all 0.3s ease-in-out
}

.nav-link{
  transition: transform 0.25s ease, font-weight 0.25s ease; 
}

.nav-link:hover {
  transform:scale(1.09);
  font-weight:900;
}

  .annoying-ahh-text {
    color:#fff;
    animation-name: freakyletters;
    animation-duration: 7s;
    animation-iteration-count:infinite;
  
  }

  .psychyouthought {
    height:350px;
    background-image:url(https://i.postimg.cc/6qywTykf/PXL-20241214-182625776.jpg);
    background-position:center;
    background-size:cover;
    background-color:var(--cd-body-text-color) !important;
color:rgba(235,235,235,0);
transition: all 0.2s ease-in-out

  }
  @keyframes itsme{
    0%{transform:translateY(10px)}
     50%{transform:translateY(-5px)}
     100%{transform:translateY(10px) }
  }

  @keyframes itsmegrow{
    0%{transform:translateY(10px) scale(1.75)}
     50%{transform:translateY(-5px) scale(1.75)}
     100%{transform:translateY(10px)scale(1.75) }
  }

  .itsme {
animation-name:itsme;
animation-iteration-count:infinite;
animation-duration: 3s;
  }

  @keyframes titlecaption{
    0%{transform:translateY(-5px)}
     50%{transform:translateY(10px)}
     100%{transform:translateY(-5px) }
  }

  .titlecaption {
animation-name:titlecaption;
animation-iteration-count:infinite;
animation-duration: 3s;
  }
  
  .psychyouthought:hover {
    background-color:var(--cd-body-text-color) !important;
    background-image:url();
    color:var(--cd-primary-color);

  }

  .emoahhselfportrait {
    filter:drop-shadow(5px 5px 0 #000);
    position:sticky;
    top:120px;
    animation-name:imbreathing;
    animation-iteration-count: infinite;
    animation-duration:2s;
  }



@media (max-width:768px) {
  .navbar-brand img {
    display:none !important;
  }
  
 
}

.projecttitle {
  background-color:#b5c7cb !important
}

@media (max-width:992px) {
  .bobbingcubemobile {
    display:none
      }
       .cubecollection{
    display:none
  }
  
  #main-container{
    zoom: 1 !important;
    transform: scale(1)  !important;
    transform-origin: 0 0;
    -webkit-transform: scale(1)  !important;
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(1)  !important;
    -moz-transform-origin: 0 0;
    -o-transform: scale(1)  !important;
    -o-transform-origin: 0 0;
    margin-left:5%

  }

  .softload{
    margin-left:0%;
  }

  

  .changingshapes2:hover {
    transform:scale(1.05) translateX(5%) !important;
  
   }
   .changingshapes3:hover {
    transform:scale(1.05) translateX(-5%) !important;
  
   }
}

.uglyahhshape {
  background-image:url(https://t3.ftcdn.net/jpg/10/00/04/90/360_F_1000049058_NoCP3GpqjzraG6LF6Evr1jJbVjwz0Rnz.jpg);
 background-size:cover;
 background-position:bottom;
  background-blend-mode:luminosity;
  font-weight:900;
  animation-name:changingshapes;
  animation-iteration-count: infinite;
  animation-duration: 0.95s;
  text-align:center;
  color:#243b45;
  text-shadow:2px 2px 0px #c0deed, -2px -2px 0px #c0deed
  
}

.glitchshape {
 background-size:cover;
 background-position:bottom;
  background-blend-mode:luminosity;

  text-align:center;
  
}

.cvcard {
  background-color:rgba(235,235,235,0);
  font-weight: 300;
  border:0px solid #000;
  transition:all 0.25s ease;
}

.cvcard:hover {
  background-color:#ebf2f3 !important;
  font-weight: 900;
  border:2px solid #475d69 !important;
}

@keyframes changingshapes{
  0% {clip-path: polygon(0 14%, 46% 0, 53% 14%, 85% 0%, 100% 9%, 90% 48%, 100% 55%, 89% 94%, 63% 100%, 10% 100%, 0 68%, 14% 45%);}
  12.5% {clip-path: polygon(0% 15%, 16% 0, 49% 10%, 79% 5%, 85% 15%, 100% 23%, 90% 68%, 100% 87%, 79% 90%, 33% 93%, 11% 100%, 0% 85%);}
  25% {clip-path: polygon(0 6%, 17% 9%, 52% 0, 79% 5%, 100% 0, 86% 23%, 100% 42%, 100% 87%, 71% 100%, 39% 95%, 0 99%, 6% 84%);}
  37.5% { clip-path: polygon(8% 11%, 28% 25%, 57% 14%, 85% 0%, 85% 15%, 100% 15%, 89% 61%, 100% 92%, 85% 100%, 0 94%, 19% 74%, 0 44%);}
  50% {clip-path: polygon(0 0, 46% 0, 57% 14%, 85% 0%, 100% 21%, 100% 54%, 89% 77%, 100% 100%, 65% 87%, 10% 100%, 0 72%, 12% 47%);}
62.5% { clip-path:polygon(0 43%, 4% 3%, 46% 13%, 76% 0, 97% 3%, 100% 23%, 98% 94%, 86% 95%, 74% 98%, 41% 100%, 29% 92%, 2% 100%)}
75% {clip-path: polygon(0 0, 46% 0, 61% 6%, 85% 0%, 100% 9%, 100% 54%, 93% 77%, 100% 100%, 65% 95%, 10% 100%, 0 87%, 5% 46%);}
87.5% {clip-path: polygon(0 26%, 10% 3%, 69% 0, 84% 19%, 100% 0, 96% 40%, 100% 55%, 100% 100%, 60% 88%, 4% 100%, 0 68%, 5% 45%);}
100% {clip-path: polygon(0 6%, 17% 9%, 52% 0, 79% 5%, 100% 0, 86% 23%, 100% 42%, 100% 87%, 71% 100%, 39% 95%, 0 99%, 6% 84%);}
}



@keyframes changingshapes3{
  0%{clip-path: polygon(10% 6%, 0 33%, 7% 48%, 0 64%, 6% 80%, 0 100%, 53% 100%, 76% 95%, 100% 100%, 95% 55%, 97% 28%, 100% 0, 82% 3%, 44% 11%, 58% 0);}
  12.5%{clip-path: polygon(3% 1%, 0 33%, 0 65%, 6% 66%, 0 99%, 14% 96%, 53% 100%, 97% 94%, 90% 90%, 100% 54%, 100% 8%, 89% 0, 85% 11%, 59% 6%, 59% 0);}
   27.5%{clip-path: polygon(5% 2%, 10% 32%, 0 57%, 13% 75%, 1% 93%, 22% 91%, 36% 100%, 59% 89%, 85% 98%, 91% 67%, 100% 59%, 97% 3%, 85% 9%, 75% 0);}
   30%{clip-path: polygon(5% 2%, 3% 32%, 0 57%, 6% 78%, 1% 93%, 17% 98%, 49% 100%, 59% 95%, 85% 94%, 97% 100%, 100% 59%, 95% 6%, 75% 0, 53% 7%);}
   32%{clip-path: polygon(0 0, 0 34%, 2% 57%, 3% 78%, 1% 93%, 9% 100%, 43% 96%, 67% 100%, 85% 94%, 97% 100%, 97% 59%, 100% 9%, 75% 0, 50% 3%, 53% 7%);}
   

}

@keyframes bobbingcube{

  0%{transform:translateY(5px)}
   30%{transform:translateY(-5px)}
   100%{transform:translateY(5px) }

 
   

}
.changingshapes3, .changingshapes2 {
  background-size:cover;
  background-position:bottom;
   background-blend-mode:luminosity;
   text-align:center;
   transition:all 0.3s ease-in-out
   
 }


 .changingshapes3:hover {
  animation-name:changingshapes3;
  animation-iteration-count: 1;
  animation-duration: .75s;
  transform:scale(1.1) translateX(-5%)  translateY(-5%);


 }


 .changingshapes2:hover {
  animation-name:changingshapes3;
  animation-iteration-count: 1;
  animation-duration: .75s;
  transform:scale(1.1) translateX(5%)  translateY(-5%);

 }


 .bobbingcube {
   animation-name:bobbingcube;
      animation-iteration-count: infinite;
      animation-duration: .95s;
   text-align:center;
   
   
 }

 #main-container{
  zoom: 0.9;
  transform: scale(0.9);
  transform-origin: 0 0;
  -webkit-transform: scale(0.9);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.9);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.9);
  -o-transform-origin: 0 0;
}

 .annoyingcubes {
  background-color: #cdf3f946;
  border:1px solid #fff;
  filter: drop-shadow(0px 0px 4px #002d32);
 background-blend-mode: difference !important;
 backdrop-filter: blur(1.3px) sepia(0.9) drop-shadow(2px 2px 2px #fff);
 }


@media (min-width:992px){
  .projectimage {
    max-height:100px;
    max-width:250px
   }
   

   
}




@keyframes changingshapes4{
  0% {clip-path: polygon(4% 26%, 0 6%, 86% 0, 65% 6%, 100% 0, 95% 19%, 95% 69%, 100% 94%, 33% 93%, 0 100%, 6% 91%, 0 35%);}
  12.5% { }
  25% {}
  37.5%  {}
  50%  {}
62.5% {}
75% {}
87.5% {}
100% { }
}

@keyframes changingshapes5{
  0% {}
  12.5% { }
  25% {}
  37.5%  {}
  50%  {}
62.5% {}
75% {}
87.5% {}
100% { }
}

@keyframes changingshapes6{
  0% {}
  12.5% { }
  25% {}
  37.5%  {}
  50%  {}
62.5% {}
75% {}
87.5% {}
100% { }
}


@keyframes changingshapes___{
  0% {}
  12.5% { }
  25% {}
  37.5%  {}
  50%  {}
62.5% {}
75% {}
87.5% {}
100% { }
}


@keyframes freakyhoverbuttons {
  0% {font-family:webdings;transform:translateX(6), translateX(10);font-weight:200;text-decoration:line-through;box-shadow:0px 0px 10px #000000,7px 2px 0px #000;clip-path: polygon(1% 42%, 14% 13%, 41% 23%, 72% 16%, 82% 28%, 100% 23%, 100% 75%, 91% 88%, 60% 78%, 29% 85%, 10% 77%, 0 37%);}
    1.5% { font-family:webdings;transform:translateX(-10), translateX(1);font-weight:900;font-style:italics;box-shadow: -0.07em 0 0 #565656, -0.025em -0.04em 0 #a8a8a8,
      -0.07em -0.025em 0 #010057, 0.05em 0.035em 0 #565656, 0.03em 0 0 #a8a8a8,
      0 -0.04em 0 #e4e5ff;clip-path: polygon(0 0, 29% 13%, 62% 4%, 75% 20%, 91% 9%, 100% 23%, 100% 97%, 84% 89%, 63% 83%, 62% 94%, 20% 90%, 0 87%);}
    3% { font-family:wingdings;font-size:40%;font-weight:200; box-shadow: 0.05em 0.035em 0 #565656, 0.03em 0 0 #a8a8a8,
      0 -0.04em 0 #e4e5ff; clip-path: polygon(1% 42%, 14% 13%, 41% 23%, 72% 16%, 82% 28%, 100% 23%, 100% 75%, 91% 88%, 60% 78%, 29% 85%, 10% 77%, 0 87%);}
    4.5% {font-family:wingdings;font-size:40%;font-weight:700; text-decoration:line-through; box-shadow:0px 0px 10px #000000,7px 2px 0px #000 ;clip-path: polygon(0 43%, 7% 9%, 39% 25%, 75% 20%, 91% 9%, 100% 23%, 98% 94%, 74% 75%, 74% 98%, 44% 90%, 38% 80%, 7% 93%); }
    6% { font-family:symbols; font-size:40%;font-weight:700;text-decoration:underline;clip-path: polygon(0 43%, 7% 9%, 58% 4%, 73% 8%, 91% 9%, 100% 23%, 98% 94%, 81% 90%, 74% 98%, 44% 90%, 26% 96%, 0 96%); }
    7.5% { font-family:courier new;font-weight:700;text-decoration:none;clip-path: polygon(0 43%, 4% 3%, 46% 13%, 76% 0, 97% 3%, 100% 23%, 98% 94%, 86% 95%, 74% 98%, 41% 100%, 29% 92%, 2% 100%);}
    8% { font-family:inconsolata;font-weight:200;color:#fff;clip-path:none}
    10% { font-family:inconsolata;color:#fff ;}
    15% { font-family:inconsolata;font-weight:800; }
    25% { }
    30% {font-family:inconsolata;font-weight:900;}
   50% {font-family:inconsolata;font-weight:900;}
   75% { font-family:inconsolata;font-weight:900; }
    100% { box-shadow:0px 0px 10px #000000,7px 2px 0px #000 ;font-family:inconsolata;font-weight:900; }
}



@keyframes freakyhoverelements {
  0% {font-family:webdings;transform:translateX(6), translateX(10);font-weight:200;text-decoration:line-through;box-shadow:0px 0px 10px #000000,7px 2px 0px #000;clip-path: polygon(1% 42%, 14% 13%, 41% 23%, 72% 16%, 82% 28%, 100% 23%, 100% 75%, 91% 88%, 60% 78%, 29% 85%, 10% 77%, 0 87%);}
    1.5% { font-family:webdings;transform:translateX(-10), translateX(1);font-weight:900;font-style:italics;box-shadow: -0.07em 0 0 #565656, -0.025em -0.04em 0 #a8a8a8,
      -0.07em -0.025em 0 #010057, 0.05em 0.035em 0 #565656, 0.03em 0 0 #a8a8a8,
      0 -0.04em 0 #e4e5ff;clip-path: polygon(0 0, 29% 13%, 62% 4%, 75% 20%, 91% 9%, 100% 23%, 100% 97%, 84% 89%, 63% 83%, 62% 94%, 20% 90%, 0 87%);}
    3% { font-family:wingdings;font-weight:200; box-shadow: 0.05em 0.035em 0 #565656, 0.03em 0 0 #a8a8a8,
      0 -0.04em 0 #e4e5ff; clip-path: polygon(1% 42%, 14% 13%, 41% 23%, 72% 16%, 82% 28%, 100% 23%, 100% 75%, 91% 88%, 60% 78%, 29% 85%, 10% 77%, 0 87%);}
    4.5% {font-family:wingdings;font-weight:700; text-decoration:line-through; box-shadow:0px 0px 10px #000000,7px 2px 0px #000 ;clip-path: polygon(0 43%, 7% 9%, 39% 25%, 75% 20%, 91% 9%, 100% 23%, 98% 94%, 74% 75%, 74% 98%, 44% 90%, 38% 80%, 7% 93%); }
    6% { font-family:symbols; font-weight:700;text-decoration:underline;clip-path: polygon(0 43%, 7% 9%, 58% 4%, 73% 8%, 91% 9%, 100% 23%, 98% 94%, 81% 90%, 74% 98%, 44% 90%, 26% 96%, 0 96%); }
    7.5% { font-family:courier new;font-weight:700;text-decoration:none;clip-path: polygon(0 43%, 4% 3%, 46% 13%, 76% 0, 97% 3%, 100% 23%, 98% 94%, 86% 95%, 74% 98%, 41% 100%, 29% 92%, 2% 100%);}
    8% { font-family:inconsolata;font-weight:200;color:#fff ;}
    10% { font-family:inconsolata;color:#fff ;}
    15% { font-family:inconsolata;font-weight:800; }
    25% { }
    30% {font-family:inconsolata;font-weight:900;}
   50% {font-family:inconsolata;font-weight:900;}
   75% { font-family:inconsolata;font-weight:900; }
    100% { box-shadow:0px 0px 10px #000000,7px 2px 0px #000 ;font-family:inconsolata;font-weight:900; }
}

@keyframes freakyletters {
    0% {font-family:webdings;font-weight:200;text-decoration:line-through;text-shadow:0px 0px 10px #000000,7px 2px 0px #000 }
    1.5% { font-family:webdings;;font-weight:900;font-style:italics;text-shadow: -0.07em 0 0 #565656, -0.025em -0.04em 0 #a8a8a8,
      -0.07em -0.025em 0 #010057, 0.05em 0.035em 0 #565656, 0.03em 0 0 #a8a8a8,
      0 -0.04em 0 #e4e5ff}
    3% { font-family:wingdings;font-weight:200; text-shadow: 0.05em 0.035em 0 #565656, 0.03em 0 0 #a8a8a8,
      0 -0.04em 0 #e4e5ff; }
    4.5% {font-family:wingdings;font-weight:700; text-decoration:line-through; text-shadow:0px 0px 10px #000000,7px 2px 0px #000  }
    6% { font-family:symbols; font-weight:700;text-decoration:underline; }
    7.5% { font-family:courier new;font-weight:700;text-decoration:none;}
    8% { font-family:inconsolata;font-weight:200;color:#fff ;}
    10% { font-family:inconsolata;color:#fff ;}
    15% { font-family:inconsolata;font-weight:800; }
    25% { transform: rotate(2deg); }
    30% {font-family:inconsolata;font-weight:900;}
   50% {transform: rotate(-2deg); }
   75% { transform: rotate(2deg); }
    100% {  transform: rotate(-2deg);text-shadow:0px 0px 10px #000000,7px 2px 0px #000  }
  }


  @keyframes jumphover {
    0% {transform:scale(1)}
    100% {transform:scale(2)}
    
  }


/* The element to apply the animation to */



/* ============================================================= */
/* Chee's Tweaks
/* ============================================================= */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-container {
    min-height: calc(100vh - 105px);
    padding: 0rem;
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
}


/* Fades container in on load so its not as jarring */
.softload {
  opacity: 0;
  margin-left:19.1%;

} .softload.active {
  opacity: 1;
  transition: opacity 2s ease;
}

/* Remove ugly box shadow */
button:focus,
.page-link:focus,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Remove margin from last paragraphs */
p:last-child {
    margin-bottom: 0 !important;
}


.webheader {
  background-color: var(--cd-navbar-background-color);
  color: #bed5e5;
}

.webcard {
 background:#dde6ea !important;
}

.webcard-holder{
  border:2px solid #ffffff00;
  background-color:#50575c;
  filter:drop-shadow(-5px 5px #698f9a) drop-shadow(5px -5px #fff4d6) drop-shadow(0px 0px 10px #000) drop-shadow(0px 0px 10px #00000000) brightness(0.89);
  opacity:0.98;
  transform:scale(1);
  transition:all 0.3s ease-in-out;
  display: inline-block;
}

.DFFF00{
  transition:all 0.3s ease
}

.DFFF00:hover {
  background-color:#DFFF00;
  color:var(--cd-body-font-family)
}

.webcard-holder:hover {
opacity:1;
border:2px solid var(--cd-navbar-background-color);
filter: drop-shadow(-5px 5px #698f9a) drop-shadow(5px -5px #fff4d6) drop-shadow(0px 0px 15px #000) drop-shadow(0px 0px 10px #00000057) brightness(0.95);
animation-name:hoverbounce;
animation-iteration-count: infinite;
animation-duration:3s;
animation-delay: 0.05s;
}

@keyframes hoverbounce{
  0%{transform:translateY(0px)}
   50%{transform:translateY(-10px)}
   100%{transform:translateY(0px) }
}

.idunnowhattocallthisleft,.idunnowhattocallthisright {
  transition:all 0.35s ease;
  z-index:30 !important
  }

.idunnowhattocallthisright:hover {
transform:scale(1.05) rotate(1deg);
}

.idunnowhattocallthisleft:hover {
  transform:scale(1.05) rotate(-1deg);
  }


.webtab {
  background-color: var(--cd-navbar-background-color);
  color:#dde6ea;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  transition:all 0.3s ease

}


.webtab:hover {
  background-color: #383333;
  color:#fff

}

.fancylink:hover{
  background-color:#bed5e5
}

.icons {
  list-style-type: none 
}

.searchbar {
  border-radius:20px;
  background-color: #000000;
  filter:drop-shadow(0px 0px 4px #89a6b67e)
}
/* Prevents awkward load in stutter */
#charadex-gallery .list .card-body {
  min-height: calc(200px + 2.5rem);
} 

#charadex-gallery .list .card-body img {
  max-height: 200px;
}

.gallery-img {
    max-height: 150px;
}

/* Combines search and its companion filter */
#search-filter.form-control {
  border-radius: var(--cd-border-radius) 0 0 var(--cd-border-radius) !important;
  border-right: 0 !important;
} 

#search.filtered.form-control {
  margin-left: -.5rem;
  width: calc(100% + .5rem) !important;
  border-radius: 0 var(--cd-border-radius) var(--cd-border-radius) 0 !important;
}

/* Loading Icon */
#loading {
  width: 5rem; 
  height: 5rem;
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  animation-duration: 2s;
  opacity: .5;
  border-color: var(--cd-body-text-color);
  border-right-color: transparent !important;
}


#log-table {
    max-height: 200px;
    overflow-y: auto;
}

/* ============================================================= */
/* Custom Classes
/* ============================================================= */

/* Makes sure your text formatting is preserved from the sheet */
/* Best for large areas like notes */
.text-pre {
    white-space: break-spaces;
}

.hero-title {
    color: var(--cd-primary-text-color);
    background-color: var(--cd-primary-color);
    border-radius: var(--cd-border-radius);
    font-family: var(--cd-header-font-family);
    display: flex;
    padding: 1.5rem;
    min-height: 250px;
    font-weight: 800;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .hero-title {
        letter-spacing: 2px;
        font-size: 5rem;
    }
}